# Environment variables.
# Copy this file to `.env` and enter your personal configuration details.

# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-character string of characters, e.g. 'oj2130sdjk120asdim2u2'
JWT_SECRET=!@#$%^&*()_+=-{POGROOZ}]boilerplate[;";/?<>.,

# Server settings
PORT=8000
API_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000
MODE=development
